[submodule "third-party/cxxtimer"]
	path = third-party/cxxtimer
	url = https://github.com/andremaravilha/cxxtimer.git
[submodule "third-party/px"]
	path = third-party/px
	url = https://github.com/pplux/px.git
[submodule "third-party/earcut.hpp"]
	path = third-party/earcut.hpp
	url = https://github.com/mapbox/earcut.hpp.git
[submodule "third-party/httplib"]
	path = third-party/httplib
	url = https://github.com/yhirose/cpp-httplib.git
[submodule "third-party/Catch2"]
	path = third-party/Catch2
	url = https://github.com/catchorg/Catch2.git
[submodule "SkyboltAssets"]
	path = SkyboltAssets
	url = https://github.com/Prograda/SkyboltAssets.git
[submodule "third-party/OpenSceneGraph"]
	path = third-party/OpenSceneGraph
	url = https://github.com/seanstone/OpenSceneGraph.git
	ignore = dirty
