[submodule "third-party/cxxtimer"]
	path = third-party/cxxtimer
	url = https://github.com/andremaravilha/cxxtimer.git
[submodule "third-party/px"]
	path = third-party/px
	url = https://github.com/pplux/px.git
[submodule "third-party/earcut.hpp"]
	path = third-party/earcut.hpp
	url = https://github.com/mapbox/earcut.hpp.git
[submodule "third-party/httplib"]
	path = third-party/httplib
	url = https://github.com/yhirose/cpp-httplib.git
